@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/fa/IRANSansWeb(FaNum).woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*!* width *!*/
/*::-webkit-scrollbar {*/
/*    width: 5px;*/
/*    direction: ltr;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
/*    background: #fefefe;*/
/*    border-radius: 5px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
/*    background: #0f172a;*/
/*    border-radius: 5px;*/
/*}*/

/*!* Handle on hover *!*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #0f172a;*/
/*}*/


.priceFont {
    font-family: 'IRANSansWeb', sans-serif;
}

.news img {
    margin: 0 auto;
}

.embed-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* نسبت 16:9 */
    overflow: hidden;
}

.nc-SingleContent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.rmdp-container {
    width: 100%;
}

.description * {
    font-family: myFont, myFont Fallback !important;

}


.html_description figure {
    width: 100% !important;
}
.html_description figure img{
    width: 100% !important;
}

.goftino-wakeup{
    bottom: 65px!important;
}











.rhap_container {
    background-color: #1e293b !important; /* زمینه تیره */
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.rhap_progress-filled {
    background-color: #3b82f6 !important; /* رنگ پیشرفت آبی */
}

.rhap_progress-indicator {
    background-color: #3b82f6 !important;
    box-shadow: 0 0 8px #3b82f6;
}

.rhap_volume-indicator {
    background-color: #3b82f6 !important;
}

.rhap_button-clear {
    color: #e2e8f0 !important; /* آیکون‌ها سفید */
}

.rhap_time {
    color: #e2e8f0 !important;
}

.rhap_additional-controls,
.rhap_volume-controls {
    color: #e2e8f0 !important;
}